.DetailsInformation {
    .main-header {
        font-feature-settings: "kern", "ss01", "ss05", "ss07";
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
        font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
        font-variant-ligatures: common-ligatures;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        text-transform: none;
        margin: 0px;
        margin-block-end: 2rem;
    }
    div {
        h3 {
            font-feature-settings: "kern";
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizelegibility;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
            font-size: 1rem;
            line-height: 1.5rem;
            font-style: normal;
            font-stretch: normal;
            text-transform: none;
            font-weight: 700;
            margin: 0px;
            margin-block-end: 0.5rem;
            margin-block-start: 2rem;
        }
        p {
            font-size: 0.875rem;
            font-weight: 400;
            margin-bottom: 0.25rem;
        }
        span {
            font-size: 0.875rem;
            font-weight: 400;
            margin-bottom: 0.25rem;
        }
    }
    .address {
        span {
            color: rgba(32, 33, 37, 0.64);
            margin-bottom: 1rem;
        }
    }
    .opening-times {
        margin-bottom: 1.5rem;
        h6 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            line-height: 1.2;
        }
        ul {
            padding-top: 1rem;
            li {
                display: flex;
                font-feature-settings: "kern";
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizelegibility;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue",
                    sans-serif;
                font-size: 0.875rem;
                line-height: 1.25rem;
                font-style: normal;
                font-stretch: normal;
                text-transform: none;
                font-weight: 400;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin: 0px 0px 0.6rem;
                span {
                    color: rgba(32, 33, 37, 0.64);
                    text-align: end;
                    font-feature-settings: "tnum";
                    font-variant-numeric: tabular-nums;
                    text-transform: capitalize;
                    display: block;
                }
            }
        }
    }
    .allergies {
        a {
            font-feature-settings: "kern";
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizelegibility;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-style: normal;
            font-stretch: normal;
            text-transform: none;
            font-weight: 500;
            color: rgb(0, 157, 224);
            user-select: inherit;
            white-space: normal;
            cursor: pointer;
        }
        .more {
            margin-top: 1.5rem;
        }
    }
    .categories {
        li {
            padding: 0px;
            border: none;
            background: none;
            text-align: start;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            font-feature-settings: "kern";
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizelegibility;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-style: normal;
            font-stretch: normal;
            text-transform: none;
            font-weight: 500;
            color: rgb(0, 157, 224);
            user-select: inherit;
            white-space: normal;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
