.details-categoryPreview {
    &:not(:first-child) {
        margin-top: 3rem;
    }
    .head {
        border-top: none;
        text-align: start;
        padding: 0 1.5rem;
        h2 {
            font-family: OmnesSemiBold, WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto,
                "Open Sans", sans-serif;
            font-variant-ligatures: common-ligatures;
            font-size: 1.75rem;
            line-height: 2.25rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            text-transform: none;
            padding: 0px;
            margin: 0px 0px 1.5rem;
            color: rgb(32, 33, 37);
            white-space: pre-wrap;
        }
        p {
            font-size: 1rem;
            color: rgba(32, 33, 37, 0.64);
            font-weight: 400;
            padding: 0;
            margin: 0 0 2rem;
            white-space: pre-wrap;
        }
    }
}
