// .restaurant-page {
//     .restaurant-try {
//         position: relative;
//         z-index: -10;
//         flex: 0 0;
//         flex-basis: 35rem;
//         padding-bottom: 35rem;
//         display: flex;
//         justify-content: flex-end;
//         flex-direction: column;
//         .restaurant-hero {
//             position: absolute;
//             overflow: hidden;
//             top: -60%;
//             right: 0;
//             bottom: 0;
//             left: 0;
//             height: 180%;
//             z-index: -1;
//             img {
//                 transform: translate3d(-50%, 0px, 0px);
//                 transform-style: preserve-3d;
//                 backface-visibility: hidden;
//                 will-change: transform;
//                 position: absolute;
//                 top: 0;
//                 left: 50%;
//                 min-width: 100%;
//                 max-width: 400%;
//                 min-height: 100%;
//                 width: auto;
//             }
//         }
//     }
//     .restaurant-try1 {
//         z-index: 10;
//         // flex: 1 1 auto;
//         // display: flex;
//         // flex-direction: column;
//         // width: 100%;
//         // background: rgb(255, 255, 255);
//     }
// }

.restaurant-page {
    .restaurant-hero {
        &_background {
            img {
            }
            &--darker {
            }
        }
        &_titles {
            &--main {
                h1 {
                    font-feature-settings: "kern", "ss01", "ss05", "ss07";
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizelegibility;
                    font-family: OmnesSemiBold, WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto,
                        "Open Sans", sans-serif;
                    font-variant-ligatures: common-ligatures;
                    font-weight: 700;
                    font-style: normal;
                    font-stretch: normal;
                    text-transform: none;
                    font-size: 5.5rem;
                    line-height: 1.2;
                    color: rgb(255, 255, 255);
                    max-height: 3.6em;
                    word-break: break-word;
                    overflow: hidden;
                    margin-bottom: 0px;
                }
                p {
                    color: rgb(255, 255, 255);
                    font-size: 1.6875rem;
                    margin: 0px 0px 1.5rem;
                    font-feature-settings: "kern";
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizelegibility;
                    font-family: OmnesSemiBold, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans",
                        "Helvetica Neue", sans-serif;
                    font-size: 1.125rem;
                    line-height: 1.5rem;
                    font-style: normal;
                    font-stretch: normal;
                    text-transform: none;
                    font-weight: 500;
                }
            }
        }
    }
}
