.restaurant-page {
    .restaurant-hero {
        position: relative;
        flex: 0 0;
        flex-basis: 35rem;
        padding-bottom: 7rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        img {
            transform: translate3d(-50%, 0, 0);
            transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            will-change: transform;
            position: absolute;
            top: 0;
            left: 50%;
            min-width: 100%;
            max-width: 400%;
            min-height: 100%;
            width: auto;
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            height: auto;
            position: absolute;
            overflow: hidden;
            top: -70%;
            right: 0;
            bottom: 0;
            left: 0;
            height: 180%;
            z-index: -1;
        }
    }
}
