@font-face {
    font-family: OmnesBold;
    src: url(../../fonts/omnes/OmnesBold.ttf);
}

@font-face {
    font-family: OmnesRegular;
    src: url(../../fonts/omnes/OmnesRegular.ttf);
}

@font-face {
    font-family: OmnesSemiBold;
    src: url(../../fonts/omnes/OmnesSemiBold.ttf);
}

// @font-face {
//     font-family: Wolt;
//     // src: url(~@/style/fonts/Roboto-Regular.ttf);
//     src: url(../../fonts/Wolt.ttf);
// }
