.category-list {
    &-header {
        display: flex;
        justify-content: flex-start;
        h1 {
            font-family: Wolt, WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans",
                sans-serif;
            font-size: 1.75rem;
            line-height: 2.25rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            text-transform: none;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0px;
        }
    }
    &-slider {
        // background-color: aqua;
        // padding-bottom: 5px;
        // overflow: hidden;
        // width: calc(100% + 1rem);
        padding: 1rem 0.2rem;
        // margin: -1rem -0.5rem;
    }
}

// .slick-slide :first-child {
//     width: fit-content;
// }
