.hero-preview {
    position: relative;
    min-width: 50%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px, rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0px;
    border-radius: 0.5rem;
    margin: 0 8px;
    height: inherit;
    overflow: hidden;
    img {
        position: relative;
        border-radius: 0.5rem;
        overflow: hidden;
        top: 0px;
        bottom: 0px;
        object-fit: fill;
        width: 100%;
        height: 100%;

        &:hover {
            transform: scale(1.05) translateZ(0);
            transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1) 0s;
        }
    }
    &-details {
        border-radius: 0.5rem;
        pointer-events: none;
        width: 100%;
        height: 60%;
        z-index: 1;
        background: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.008) 8.1%,
            rgba(0, 0, 0, 0.024) 15.5%,
            rgba(0, 0, 0, 0.05) 22.5%,
            rgba(0, 0, 0, 0.086) 29%,
            rgba(0, 0, 0, 0.125) 35.3%,
            rgba(0, 0, 0, 0.173) 41.2%,
            rgba(0, 0, 0, 0.22) 47.1%,
            rgba(0, 0, 0, 0.27) 52.9%,
            rgba(0, 0, 0, 0.318) 58.8%,
            rgba(0, 0, 0, 0.365) 64.7%,
            rgba(0, 0, 0, 0.404) 71%,
            rgba(0, 0, 0, 0.44) 77.5%,
            rgba(0, 0, 0, 0.467) 84.5%,
            rgba(0, 0, 0, 0.482) 91.9%,
            rgba(0, 0, 0, 0.49) 100%
        );
        -webkit-box-pack: justify;
        position: absolute;
        padding: 1.5rem;
        bottom: 0;
        left: 0;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        -webkit-box-pack: end;
        justify-content: flex-end;

        h6 {
            color: rgba(255, 255, 255, 0.64);
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.25rem;
            letter-spacing: 0.03125rem;
            text-transform: uppercase;
        }

        h2 {
            word-break: break-word;
            margin-top: 0.75rem;
            color: rgb(255, 255, 255);
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 600;
        }

        h4 {
            margin-top: 0.5rem;
            color: rgb(255, 255, 255);
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-weight: 400;
        }
    }
}

// margin: 0px 0.5rem;
// }
// <style>
// .fTCgCW {
//     background-color: rgb(255, 255, 255);
//     box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px, rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0px;
//     border-radius: 0.5rem;

//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 100%;
//     transition: transform 300ms ease-in-out 0s;
